  <h1><a href= "/posts">Flacker News</a></h1>

<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" />

  <label for="password">Password:</label>
  <input type="password" name="password"/>

  <input type="submit" name="Login">
</form>
