  <h1><a href= "/posts">Hacker News</a></h1>

<form action="/login" method="POST">
  Username:
  <input type="text" name="Userame">

  Password:
  <input type="text" name="Password">

  <input type= "submit" name="Submit">
</form>
