<h1><a href= "/posts">Hacker News</a></h1>


<h2>Sign up for a Hacker News Account</h2>
<form action='/users' method="POST">
User:
<input type="text" name="username" >
Password:
<input type="password" name="password"><br>
<input type="submit" value="Signup">
</form>
