<form method="post" action="/post/new">

  <input name="post[title]" value="input title of post">
  <input name="post[url]" value="input url link">
  <textarea name="post[body]" rows="6" cols="60"></textarea>
  <input type="submit" value="create post">
</form>
