  <label for="">username:</label><br/>
  <input type="text" name="user[username]" id="" value="" /><br/>

  <label for="">password:</label><br/>
  <input type="password" name="user[password]" id="" value="" /><br/>

